{% extends 'base.html.twig' %}

{% block title %}About us | {{ parent() }}{% endblock %}

{% block body %}
<h2>About us</h2>
    <div>Test</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis doloribus et fugit in iure nihil pariatur, placeat provident quia quo rerum sed veniam! At eaque eligendi labore nostrum veniam.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis doloribus et fugit in iure nihil pariatur, placeat provident quia quo rerum sed veniam! At eaque eligendi labore nostrum veniam.</p>
{% endblock %}
