body {
    background-color: skyblue;
}
.status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.status-indicator.actif {
    background-color: green;
}

.status-indicator.inactif {
    background-color: red;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

}